body {
  text-align: center;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: rem; */
  /* width: 100vh; */
}

li {
  text-decoration: none;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 2 /span 1;
}

.home {
  display: grid;
  grid-template-columns: 10vh 1fr 10vh;
  grid-template-rows: 15vh 70vh 15vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  padding: 1em;
}

.contact {
  width: 60vh;
}
