@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
  text-align: center;
  margin: 10px;
  color: rgb(13, 53, 5);
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
}
a:link {
  text-align: center;
  text-decoration: none;
}


ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: rem; */
  /* width: 100vh; */
}

li {
  text-decoration: none;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 2 /span 1;
}

.home {
  display: grid;
  grid-template-columns: 10vh 1fr 10vh;
  grid-template-rows: 15vh 70vh 15vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  padding: 0 5em 0 5em;
  font-size: 30px;
}

.contact {
  width: 60vh;
  font-size: 20px;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: zoomin; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 60s; /* don't forget to set a duration! */
}

.animate__animated.animate__zoomIn {
  --animate-duration: 5s;
}